<%- include('header'); -%> 
<form method="post" action="/api/login">
    <label>Username</label> <br>
    <input type="text" name="Username" placeholder="Enter username"> <br>
    <br>
    <label>Password</label> <br>
    <input type="text" name="Password" placeholder="Enter password"> <br>
    <br>
    <button type="submit">Login</button>
</form>
<%- include('footer'); -%>