<%- include('header'); -%> 
    <form method="get" action="login.php">
        <label>Society</label> <br>
        <input type="text" name="Society" placeholder="Enter your society name:"> <br>
        <br>
        <label>Contact</label> <br>
        <input type="text" name="Contact" placeholder="Enter your contact Name:"> <br>
        <br>
        <label>Address</label> <br>
        <input type="text" name="Address" placeholder="Enter your address:"> <br>
        <br>
        <label>Zip Code</label> <br>
        <input type="text" name="Zip Code" placeholder="Enter your zip code:"> <br>
        <br>
        <label>City</label> <br>
        <input type="text" name="City" placeholder="Enter your city name:"> <br>
        <br>
        <label>Phone</label> <br>
        <input type="text" name="Phone" placeholder="Enter your phone number:"> <br>
        <br>
        <label>Fax</label> <br>
        <input type="text" name="Fax" placeholder="Enter your fax number:"> <br>
        <br>
        <label>Confirmation</label> <br>
        <input type="number" name="Confirmation" placeholder="Enter your confirmation number:"> <br>
        <br>
        <label>Payment</label> <br>
        <input type="text" name="Payment" placeholder="Enter your payment details:"> <br>
        <br>
        <label>Information</label> <br>
        <input type="text" name="Information" placeholder="Enter your information details:"> <br>
        <br>
        <label>Max Oustanding</label> <br>
        <input type="number" name="Max Oustanding" placeholder="Enter your max outstanding fee:"> <br>
        <br>
    </form>
<%- include('footer'); -%>